@model ItspServices.pServer.Abstraction.Models.User

<h2>
    #@Model.Id: @Model.UserName
</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>