@model ItspServices.pServer.Abstraction.Models.User

<h2>
    #@Model.Id: @Model.UserName
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PublicKeys.Count; i++)
        {
            <tr>
                <td>@i</td>
                <td>@Model.PublicKeys[i].GetKeyAsString()</td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success" type="submit" asp-controller="User" asp-action="Index">Add</button>
        </div>
        <input type="text" class="form-control" name="newKey"/>
    </div>
</form>