@using System.Text
@model ItspServices.pServer.Abstraction.Models.User

<h2>
    Public Keys:
</h2>

<form method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-success" type="submit" asp-controller="User" asp-action="Index">Add</button>
        </div>
        <input type="text" class="form-control" name="newKey" />
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PublicKeys.Count; i++)
        {
            <tr>
                <td>@i</td>
                <td>@Encoding.UTF8.GetString(Model.PublicKeys[i].KeyData)</td>
                <td>@Model.PublicKeys[i].Flag</td>
                <td>
                    <asp:button class="btn btn-outline-warning">
                        Make obsolet
                    </asp:button>
                </td>
            </tr>
        }
    </tbody>
</table>
