@using System.Text
@model ItspServices.pServer.Abstraction.Models.User
<div class="row">
    <nav class="col-md-1 navbar-expand d-none d-md-block navbar-light bg-white border-right box-shadow sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="PublicKeys">Public Keys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col user-view-body">
        <h1>
            Public Keys:
            <button class="add-key-btn float-right" type="submit" asp-controller="User" asp-action="Index">Add Key</button>
            <!--<div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-success" type="submit" asp-controller="User" asp-action="Index">Add</button>
                </div>
                    <input type="text" class="form-control" name="newKey" />
            </div>-->
        </h1>
        <div class="popup">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-success" type="submit" asp-controller="User" asp-action="Index">Add</button>
                </div>
                <input type="text" class="form-control" name="newKey" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Key</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PublicKeys.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Encoding.UTF8.GetString(Model.PublicKeys[i].KeyData)</td>
                        <td>@Model.PublicKeys[i].Flag</td>
                        <td>
                            <asp:button class="btn btn-outline-warning">
                                Make obsolet
                            </asp:button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>