@{
    ViewData["Title"] = "Home Page ";
}
@inject ItspServices.pServer.Services.ITestService testService

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Datetime: @testService.GetDateTime()</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
