@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

    <label><b>Username</b></label>
    <input asp-for="Username" placeholder="Enter Username">

    <label><b>Password</b></label>
    <input asp-for="Password" placeholder="Enter Password">

    <button type="submit">Login</button>
</form>